.App {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  background-color: black;
}
.movie-head-pic {
  height: 70px;
  width: 15%;
}
.heaad {
  color: rgb(54, 48, 9);
  display: flex;
  border: none;
}

.header {
  display: flex;  
  padding-right: 15vw;
  background-color: rgb(243, 241, 94);
color: rgb(15, 15, 14);
justify-content: space-between;
align-items: center;
font-weight: bolder;
font-size: 15px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-div{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: rgb(167, 211, 84);
}
#outlined-basic{
  color: white;

}
.add-button{
  color: aliceblue;
}
.movie-div{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap:50px;
padding: 1vw;
}

.movie-detail {
  height: 4%;
  width: 325px;
  padding: 0.1vw;
  color: rgb(238, 238, 194);
  justify-content: space-evenly; 
}
.poster {
  height: 270px;
  width: 240px;
  Object-fit : cover;
}

.summary {
  font-size: small;
  padding: 0%;
}

.movie-info{
  display: flex;
  justify-content: space-between;
}
.movie-trail{
  color: beige;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -10px;
}
a{
  color: rgb(0, 3, 5);
  text-decoration: none;
  border:1px solid rgb(15, 15, 15);
padding: 5px;
}
.trailer-specs{
  display: flex;
  justify-content: space-between;
  width:60%;
}
.movie-footer{
  display: flex;
  justify-content: space-between;

}